In [1]:
import numpy as np
import pandas as pd

In [2]:
df_time_series = pd.read_csv('./AirPassengers.csv')
df_time_series.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [4]:
df_time_series['step'] = range(len(df_time_series))
df_time_series['cum_pass'] = df_time_series["#Passengers"].cumsum()
df_time_series['cum_max'] = df_time_series["#Passengers"].cummax()
df_time_series['cum_min'] = df_time_series["#Passengers"].cummin()
df_time_series.head()

     Month  #Passengers  step  cum_pass  cum_max  cum_min
0  1949-01          112     0       112      112      112
1  1949-02          118     1       230      118      112
2  1949-03          132     2       362      132      112
3  1949-04          129     3       491      132      112
4  1949-05          121     4       612      132      112

In [7]:
temp_date = df_time_series['Month'].map(lambda x : x.split('-'))
np_date = np.array(temp_date.values.tolist())
df_time_series['year'] = np_date[:, 0]
df_time_series['month'] = np_date[:, 1]
df_time_series.head()

     Month  #Passengers  step  cum_pass  cum_max  cum_min  year month
0  1949-01          112     0       112      112      112  1949    01
1  1949-02          118     1       230      118      112  1949    02
2  1949-03          132     2       362      132      112  1949    03
3  1949-04          129     3       491      132      112  1949    04
4  1949-05          121     4       612      132      112  1949    05

In [9]:
df_time_series['diff'] = df_time_series['#Passengers'].diff().fillna(0)
df_time_series.head()

     Month  #Passengers  step  cum_pass  cum_max  cum_min  year month  diff
0  1949-01          112     0       112      112      112  1949    01   0.0
1  1949-02          118     1       230      118      112  1949    02   6.0
2  1949-03          132     2       362      132      112  1949    03  14.0
3  1949-04          129     3       491      132      112  1949    04  -3.0
4  1949-05          121     4       612      132      112  1949    05  -8.0

In [10]:
df_time_series['#Passengers'].pct_change().map(lambda x : x*100).map(lambda x : ' %.2f' % x)

0          nan
1         5.36
2        11.86
3        -2.27
4        -6.20
5        11.57
6         9.63
7         0.00
8        -8.11
9       -12.50
10      -12.61
11       13.46
12       -2.54
13        9.57
14       11.90
15       -4.26
16       -7.41
17       19.20
18       14.09
19        0.00
20       -7.06
21      -15.82
22      -14.29
23       22.81
24        3.57
25        3.45
26       18.67
27       -8.43
28        5.52
29        3.49
        ...
114      12.87
115       2.85
116     -20.00
117     -11.14
118     -13.65
119       8.71
120       6.82
121      -5.00
122      18.71
123      -2.46
124       6.06
125      12.38
126      16.10
127       2.01
128     -17.17
129     -12.10
130     -11.06
131      11.88
132       2.96
133      -6.24
134       7.16
135      10.02
136       2.39
137      13.35
138      16.26
139      -2.57
140     -16.17
141      -9.25
142     -15.40
143      10.77
Name: #Passengers, Length: 144, dtype: object

In [11]:
df_time_series['pct'] = df_time_series['#Passengers'].pct_change().map(lambda x : x*100).map(lambda x : ' %.2f' % x)

In [12]:
df_time_series

,Month,#Passengers,step,cum_pass,cum_max,cum_min,year,month,diff,pct
0,1949-01,112,0,112,112,112,1949,01,0.0,nan
1,1949-02,118,1,230,118,112,1949,02,6.0,5.36
2,1949-03,132,2,362,132,112,1949,03,14.0,11.86
3,1949-04,129,3,491,132,112,1949,04,-3.0,-2.27
4,1949-05,121,4,612,132,112,1949,05,-8.0,-6.20
5,1949-06,135,5,747,135,112,1949,06,14.0,11.57
6,1949-07,148,6,895,148,112,1949,07,13.0,9.63
7,1949-08,148,7,1043,148,112,1949,08,0.0,0.00
8,1949-09,136,8,1179,148,112,1949,09,-12.0,-8.11
9,1949-10,119,9,1298,148,112,1949,10,-17.0,-12.50
10,1949-11,104,10,1402,148,104,1949,11,-15.0,-12.61
11,1949-12,118,11,1520,148,104,1949,12,14.0,13.46
12,1950-01,115,12,1635,148,104,1950,01,-3.0,-2.54
13,1950-02,126,13,1761,148,104,1950,02,11.0,9.57
14,1950-03,141,14,1902,148,104,1950,03,15.0,11.90
15,1950-04,135,15,2037,148,104,1950,04,-6.0,-4.26
16,1950-05,125,16,2162,148,104,1950,05,-10.0,-7.41
17,1950-06,149,17,2311,149,104,1950,06,24.0,19.20
18,1950-07,170,18,2481,170,104,1950,07,21.0,14.09
19,1950-08,170,19,2651,170,104,1950,08,0.0,0.00
20,1950-09,158,20,2809,170,104,1950,09,-12.0,-7.06
21,1950-10,133,21,2942,170,104,1950,10,-25.0,-15.82
22,1950-11,114,22,3056,170,104,1950,11,-19.0,-14.29
23,1950-12,140,23,3196,170,104,1950,12,26.0,22.81
24,1951-01,145,24,3341,170,104,1951,01,5.0,3.57
25,1951-02,150,25,3491,170,104,1951,02,5.0,3.45
26,1951-03,178,26,3669,178,104,1951,03,28.0,18.67
27,1951-04,163,27,3832,178,104,1951,04,-15.0,-8.43
28,1951-05,172,28,4004,178,104,1951,05,9.0,5.52
29,1951-06,178,29,4182,178,104,1951,06,6.0,3.49
...,...,...,...,...,...,...,...,...,...,...
114,1958-07,491,114,27594,491,104,1958,07,56.0,12.87
115,1958-08,505,115,28099,505,104,1958,08,14.0,2.85
116,1958-09,404,116,28503,505,104,1958,09,-101.0,-20.00
117,1958-10,359,117,28862,505,104,1958,10,-45.0,-11.14
118,1958-11,310,118,29172,505,104,1958,11,-49.0,-13.65
119,1958-12,337,119,29509,505,104,1958,12,27.0,8.71
120,1959-01,360,120,29869,505,104,1959,01,23.0,6.82
121,1959-02,342,121,30211,505,104,1959,02,-18.0,-5.00
122,1959-03,406,122,30617,505,104,1959,03,64.0,18.71
123,1959-04,396,123,31013,505,104,1959,04,-10.0,-2.46
124,1959-05,420,124,31433,505,104,1959,05,24.0,6.06
125,1959-06,472,125,31905,505,104,1959,06,52.0,12.38
126,1959-07,548,126,32453,548,104,1959,07,76.0,16.10
127,1959-08,559,127,33012,559,104,1959,08,11.0,2.01
128,1959-09,463,128,33475,559,104,1959,09,-96.0,-17.17
129,1959-10,407,129,33882,559,104,1959,10,-56.0,-12.10
130,1959-11,362,130,34244,559,104,1959,11,-45.0,-11.06
131,1959-12,405,131,34649,559,104,1959,12,43.0,11.88
132,1960-01,417,132,35066,559,104,1960,01,12.0,2.96
133,1960-02,391,133,35457,559,104,1960,02,-26.0,-6.24
134,1960-03,419,134,35876,559,104,1960,03,28.0,7.16
135,1960-04,461,135,36337,559,104,1960,04,42.0,10.02
136,1960-05,472,136,36809,559,104,1960,05,11.0,2.39
137,1960-06,535,137,37344,559,104,1960,06,63.0,13.35
138,1960-07,622,138,37966,622,104,1960,07,87.0,16.26
139,1960-08,606,139,38572,622,104,1960,08,-16.0,-2.57
140,1960-09,508,140,39080,622,104,1960,09,-98.0,-16.17
141,1960-10,461,141,39541,622,104,1960,10,-47.0,-9.25
142,1960-11,390,142,39931,622,104,1960,11,-71.0,-15.40
143,1960-12,432,143,40363,622,104,1960,12,42.0,10.77